*{
  box-sizing: border-box;
}
body, html{
  background-color: #e2e1e0;
  margin: 0;
}
img{
  width: 100%;
  display: block;
}
.App {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.figure{
  margin-right: 30px;
  width: 20%;
  float: left;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 300px;
  position: relative;
  border-radius: 15px;
  
}
.figure h3{
  display: block;
  width: 100%;
  color: #fff;
  background-color: #39375b;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1rem;
}
.figure button{
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  background-color: #d597ce;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all .4s ease-out;
}
.figure button:hover{
  background-color: #745c97;
  transition: all .4s ease-out;
}
.figure h4{
  margin: 0;
}

.figure img{
 display:block; 
 margin: 0;
 width: 100%;
}
.header{
  display: block;
  width: 100%;
  background-color: #39375b;
  float: left;
  color: #fff;

}
.header h1{
  margin: 0;
}

.tot{
  margin-top: 80px;
  float: left;
  width: 100%;
}


.form{
  width: 100%;
  display: block;
  margin-top: 160px;
  float: left;

}
.form__name{
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 30px;
}
.form__name:hover{
  background-color: #745c97;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: #fff;

}
.form__name:focus{
  background-color: #745c97;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.form__file{
  display: block;
  width: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}
.form__file:hover{
  background-color: #745c97;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: #fff;

}
.form__file:focus{
  background-color: #745c97;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.form button{
  margin-top: 30px;
  font-size: 1rem;
  background-color:#39375b;
  border: none;
  padding: 20px 20px;
  width: 100%;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;


}
.form button:hover{
  background-color: #745c97;
  
}

.cards{
  display: block;
  width: 100%;
  margin-bottom: 80px;
  float: left;
  margin-top: 30px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


@media only screen and (max-width: 1200px) {
  .figure{
    width:100%;
    margin-bottom: 30px;
  }
  .figure button{
    position: static;
    font-size: 1.5rem;
  }
  .cards{
    padding: 30px;
  }
  .form{
    padding: 30px;
  }
  .form__file{
    font-size: 1.5rem;
  }
  .form__name{
    font-size: 1.5rem;

  }
  .form__name:focus{
    font-size: 2rem;
  }
  .login{
    padding: 30px;
  }
}

.login{
  width: 100%;
  margin: 0 auto;
  background-color: #282c34;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top: 80px;
  float:left;
}
.login h3{
  color: #fff;
}

.login__name{
  display: block;
  margin-bottom: 30px;
  width: 100%;
  border: none;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  padding: 15px 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}
.login__name:hover{
  background-color: #745c97;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: #fff;

}
.login__name:focus{
  background-color: #745c97;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bottoneone{
  cursor: pointer;
}

.logo{
  display: block;
  width: 200px;
  margin: 0 auto;
}